{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/bootstrap-5.3.3-dist/css/bootstrap.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/general.css' %}">
    <link rel="icon" type="image/png" href="{% static 'icons/favicon.png' %}">
</head>
<body>
    <nav class="nav justify-content-center navbar-light" style="background-color: #133213;">
      <ul class="nav nav-underline">
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'home' %}">Página Inicial</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'registro_incidente' %}">Registrar Incidente</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'logout' %}">Sair</a>
          </li>
          {% endif %}
        </ul>
    </nav>

</body>
</html>