{% load static %}
{% include 'BaseTemplate.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/general.css' %}">
</head>
<body>
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center" style="height: 40vh;">
            <div class="col-sm-12 col-md-10">
                <div class="card text-white bg-dark mb-3" id="title_div">
                    <p class="text-light">Bem-vindo ao nosso Aplicativo de Monitoramento e Coleta de Resíduos - sua solução completa para uma gestão eficaz de resíduos e um passo significativo em direção à sustentabilidade ambiental!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row justify-content-center align-items-center" style="height: 10vh;">
            <div class="col-sm-12 col-md-10">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">Descarte adequado, Reciclagem Promovida:</div>
                    <div class="card-body">
                        <p class="card-text">Nosso aplicativo foi meticulosamente desenvolvido para simplificar o processo de descarte de resíduos e incentivar a reciclagem. Com uma interface intuitiva e funcionalidades abrangentes, estamos aqui para atender às suas necessidades e facilitar o gerenciamento tanto para usuários quanto para administradores.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row justify-content-center align-items-center" style="height: 60vh;">
            <div class="col-sm-12 col-md-10">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">Plataforma Dinâmica:</div>
                    <div class="card-body">
                        <p class="card-text">
                            Um ambiente interativo onde usuários e administradores têm acesso fácil a informações essenciais sobre coleta e descarte de resíduos.
                            <br>Gerenciamento simplificado de dados para garantir uma experiência sem complicações.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row justify-content-center align-items-center" style="height: 40vh;">
            <div class="col-sm-12 col-md-10">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">Registro de Incidentes:</div>
                    <div class="card-body">
                        <p class="card-text">
                            Capacidade para os usuários reportarem problemas específicos, como acúmulos de resíduos em áreas específicas.
                            <br>Um sistema dedicado para o registro eficiente e acompanhamento de incidentes, permitindo uma resposta rápida e eficaz.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
