{% load static %}
{% include 'BaseTemplate.html' %}
<html lang="en">
<head>
    <title>Registro de Incidentes</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css" rel="stylesheet">
    <style>
        #map {
            width: 100%;
            height: 400px;
        }
    </style>
</head>
<body>
    <section class="vh-100">
        <div class="card text-black" style="border-radius: 25px;">
            <div class="col-md-6 offset-md-3">
                <form action="{% url 'registro_incidente' %}" method="POST" class="row g-3 needs-validation" novalidate>
                    {% csrf_token %}
                    <h1>Registro de Incidente</h1>

                    <div id="map"></div>
                    <input type="hidden" id="latitude" name="latitude" value="0" readonly>
                    <input type="hidden" id="longitude" name="longitude" value="0" readonly>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="rua" class="form-label">Rua:</label>
                            <input type="text" class="form-control" id="rua" name="rua" required>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="numero-casa" class="form-label">Número:</label>
                                <input type="text" class="form-control" id="numero-casa" name="numero-casa" pattern="[0-9]+">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="bairro" class="form-label">Bairro:</label>
                            <input type="text" class="form-control" id="bairro" name="bairro" required>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="complemento" class="form-label">Complemento:</label>
                                <input type="text" class="form-control" id="complemento" name="complemento">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Tipo_de_Insidente" class="form-label">Tipo de Incidente:</label>
                                <select id="Tipo_de_Insidente" name="Tipo_de_Insidente" class="form-select">
                                    <option value="entulho" selected>Entulho</option>
                                    <option value="local-coleta-quebrado">Local de coleta com defeito</option>
                                    <option value="residuo-perigoso">Resíduo perigoso</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="texto-descricao" class="form-label">Descrição:</label>
                                <textarea class="form-control" id="texto-descricao" name="texto-descricao" rows="3"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <input type="submit" class="btn btn-success" value="Enviar">
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </section>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1Ijoia2FuYW4xMjMiLCJhIjoiY2x2bGVxc2Z5MmEyODJycGh4czFwbnhzNSJ9.QLx0-ruC1MtD8BQfZl5_7A';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [-53.39444, -27.35917],
            zoom: 15
        });

        var marker;

        map.on('click', function (e) {
            var coordinates = e.lngLat;
            document.getElementById('latitude').value = coordinates.lat;
            document.getElementById('longitude').value = coordinates.lng;

            if (marker) {
                marker.setLngLat(coordinates);
            } else {
                marker = new mapboxgl.Marker()
                    .setLngLat(coordinates)
                    .addTo(map);
            }
        });
    </script>
</body>
</html>
